<p>It's alive!</p>

<p>
  For some cool stuff try
  <a href="/example" title="An example"><code>/example</code></a> or
  <a href="/example_haml" title="A haml example"><code>/example_haml</code></a>.
</p>
